body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-field {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

.btn {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #022e5e;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #6992be;
}
